body{
    padding-right: 10%;
    padding-left: 10%;

}
.image{
    margin-left: 20%;
}
input[type=text],
select,
textarea {
    height: 5rem;
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 16px;
  resize: vertical;
  margin-right: 30%;


}